.text-center {
	text-align: center !important;
}
.text-left {
	text-align: left !important;
}
.text-right {
	text-align: right !important;
}
.p0 {
	padding: 0 !important;
}
.pt50 {
	padding-top: 50px !important;
}
.pt30 {
	padding-top: 30px !important;
}
.pl65 {
	padding-left: 65px !important;
}
.pl50 {
	padding-left: 50px !important;
}
.pl30 {
	padding-left: 30px !important;
}
.pr30 {
	padding-right: 30px !important;
}
.pr50 {
	padding-right: 50px !important;
}
.pr65 {
	padding-right: 65px !important;
}
.pb30 {
	padding-bottom: 30px !important;
}
.pb50 {
	padding-bottom: 50px !important;
}
.mt2 {
	margin-top: 2px !important;
}
.mt10 {
	margin-top: 10px !important;
}
.mt15 {
	margin-top: 15px !important;
}
.mt20 {
	margin-top: 20px !important;
}
.mt30 {
	margin-top: 30px !important;
}
.mt40 {
	margin-top: 40px !important;
}
.mt50 {
	margin-top: 50px !important;
}
.mb15 {
	margin-bottom: 15px !important;
}
.mb20 {
	margin-bottom: 20px !important;
}
.mb30 {
	margin-bottom: 30px !important;
}
.mb40 {
	margin-bottom: 40px !important;
}
.mb50 {
	margin-bottom: 50px !important;
}
.mb-5 {
	margin-bottom: -5px !important;
}